.wrapper .gallery {
  width: 95%;
  margin: 25px auto;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  div {
    // flex-basis: 40%;
    // width: 200px;
    // height: 200px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .screenshots {
    flex-basis: 30%;
  }
  .photos {
    flex-basis: 35%;
  }
  .videos {
    flex-basis: 34%;
    margin-top: 15px;
    // margin-top: 20px;

    .video-react {
      &-video {
      }
    }
  }
  .memes {
    flex-basis: 35%;
  }
}
