.wrapper Nav {
  // width: 100%;

  ul {
    display: flex;
    li {
      line-height: calc($font-size-normal * 2);
      flex-basis: 23%;
      text-align: center;
      text-transform: uppercase;

      button {
        height: 100%;
        width: 100%;
        font-size: $font-size-normal;

        cursor: pointer;
        color: $button_font-color;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
        font-weight: 600;
        background: none;
        border: none;
        &.active {
          // background-color: $active-background-color;
          border-bottom: 2px $active-background-color solid;
          border-radius: 10%;
        }
      }
    }
    // border: 2px solid black;
    &.mainNav {
      justify-content: space-between;
    }
    &.secondaryNav {
      margin-top: 25px;
      justify-content: space-around;
      li {
        button {
        }
      }
    }
  }
}
