$base-font: roboto;
$font-size-normal: 20px;
$font-size-medium: calc($font-size-normal * 1.2);
$font-size-large: calc($font-size-normal * 1.4);

//COLOR
$background-color: #236499;
$active-background-color: #4ca1e6;
$font-color: #f58783;
$button_font-color: #e0e635;
